:root {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color-scheme: light dark;
  font-synthesis: none;
  font-weight: normal;
  font-size: 14px;
}

::selection {
  color: #fff;
  background: #ff1818;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background-color: #131313;
  place-items: center;
  user-select: none;
  color: #fff;
  margin: 0;
}

.card {
  background-color: #202020;
  border-radius: 8px;
}

.pa-5 {
  padding: 5px;
}

.pa-10 {
  padding: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.line1,
.line2 {
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
}

.line1 {
  -webkit-line-clamp: 1;
}

.line2 {
  -webkit-line-clamp: 2;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-big {
  font-size: 16px;
}

.text-small {
  font-size: 12px;
}

.text-gray {
  color: #999;
}

.text-red {
  color: #f53737;
}

.text-orange {
  color: #e09710;
}

.text-green {
  color: #189f18;
}

.ant-btn,
.ant-btn:focus,
.ant-btn:active {
  background-color: #414141;
  color: #fff;
  border: none;
}

.ant-btn:hover {
  background-color: #323232;
  color: #999;
}

.ant-btn-primary,
.ant-btn-primary:focus,
.ant-btn-primary:active {
  background-color: #1890ff;
}

.ant-btn-primary:hover {
  background-color: #1682e7;
  color: #fff;
}

.ant-btn-text,
.ant-btn-text:focus,
.ant-btn-text:active {
  background-color: transparent;
  color: #999;
}

.ant-btn-text:hover {
  background-color: transparent;
  color: #797979;
}

.ant-btn[disabled],
.ant-btn[disabled]:hover,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:active {
  background-color: #000;
  color: #999;
  border: none;
}

.ant-select {
  color: #fff;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #2d2d2d;
  border: none;
}

.ant-select-arrow,
.ant-select-clear {
  background-color: #2d2d2d;
  color: #999;
}

.ant-select-clear:hover {
  color: #fff;
}


.ant-select-dropdown {
  background-color: #363636;
}

.ant-select-item {
  color: #fff;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #202020;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #202020;
  color: #fff;
}

.ant-empty {
  margin: 180px 0;
}

.ant-select-item-option-disabled,
.ant-empty-description,
.ant-empty-small {
  color: #999;
}

.ant-select-multiple .ant-select-selection-item {
  background-color: #202020;
  border: none;
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #202020;
  color: #999;
}

.ant-empty-img-simple-g {
  stroke: #8a8a8a;
}

.ant-empty-img-simple-path {
  fill: #484848;
}

.ant-empty-img-simple-ellipse {
  fill: #3a3a3a;
}

.ant-message-notice-content {
  background-color: #000000;
  border-bottom: 1px solid #484848;
  padding: 3px 10px;
  color: #f4f4f4;
  width: 100%;
}

.ant-message-notice {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
}

.change-tips {
  width: 370px !important;
  margin: 0 auto;
  padding: 0;
  top: 27px;
}

.change-tips .ant-modal-content {
  background-color: #414141;
  border-radius: 10px;
}

.change-tips .ant-modal-body {
  padding: 20px 20px 15px 20px;
}

.change-tips .ant-modal-confirm-title,
.change-tips .ant-modal-confirm-content {
  color: #f4f4f4 !important;
}

.ant-spin-dot-item {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}

::-webkit-scrollbar-track {
  background-color: #1e1e1e;
  border-radius: 8px;
}

@media (prefers-color-scheme: light) {
  ::selection {
    color: #ffffff;
    background: #000000;
  }

  body {
    background-color: #f4f4f4;
    color: #333;
  }

  .card {
    background-color: #fff;
  }

  .ant-btn,
  .ant-btn:focus,
  .ant-btn:active {
    background-color: #fff;
    color: #575757;
  }

  .ant-btn:hover {
    background-color: #e1e1e1;
    color: #1a1a1a;
  }

  .ant-btn-primary,
  .ant-btn-primary:focus,
  .ant-btn-primary:active {
    background-color: #1890ff;
    color: #f4f4f4;
  }

  .ant-btn-primary:hover {
    background-color: #1682e7;
    color: #fff;
  }

  .ant-btn-text,
  .ant-btn-text:focus,
  .ant-btn-text:active {
    background-color: transparent;
    color: #999;
  }

  .ant-btn-text:hover {
    background-color: transparent;
    color: #797979;
  }

  .ant-btn[disabled],
  .ant-btn[disabled]:hover,
  .ant-btn[disabled]:focus,
  .ant-btn[disabled]:active {
    background-color: #f4f4f4;
    color: #999;
  }

  .ant-select {
    color: #333;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #fff;
  }

  .ant-select-arrow,
  .ant-select-clear {
    background-color: #fff;
    color: #999;
  }

  .ant-select-clear:hover {
    color: #333;
  }


  .ant-select-dropdown {
    background-color: #fff;
  }

  .ant-select-item {
    color: #444;
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: #e3e3e3;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: #e3e3e3;
    color: #333;
  }

  .ant-select-item-option-disabled,
  .ant-empty-description,
  .ant-empty-small {
    color: #999;
  }

  .ant-select-multiple .ant-select-selection-item {
    background-color: #f4f4f4;
  }

  .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #fcfcfc;
    color: #999;
  }

  .ant-empty-img-simple-g {
    stroke: #bababa;
  }

  .ant-empty-img-simple-path {
    fill: #dcdcdc;
  }

  .ant-empty-img-simple-ellipse {
    fill: #dddddd;
  }

  .ant-message-notice-content {
    background-color: #fff;
    border-bottom: 1px solid #999;
    color: #333;
  }

  .change-tips .ant-modal-content {
    background-color: #ffff;
  }

  .change-tips .ant-modal-confirm-title,
  .change-tips .ant-modal-confirm-content {
    color: #333 !important;
  }

  .ant-spin-dot-item {
    background-color: #000;
  }

  .ant-carousel .slick-dots li button {
    background: #666 !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d3d3d3;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #b4b4b4;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #fff;
  }
}